<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Dashboard Template for Bootstrap</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cluster/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'cluster/CSS/dashboard.css' %}"/>

    <script type="text/javascript" src="{% static 'cluster/Jquery/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'cluster/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static "cluster/JavaScript/model.js" %}"></script>
    <script src="{% static "cluster/JavaScript/cluster.js" %}"></script>





</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">云监控配置管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="exit" href="{% url 'user:login_view' %}" id="exit">退出</a></li>
                <!--去login页面-->
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class=" node"><a href="{% url 'node:index' %}">节点管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'cluster:cluster_view' %}">集群配置</a></li>
                <li><a href="{% url 'global:global_view' %}">全局配置</a></li>
                <li class="selfcenter"><a>个人中心</a></li>
                <li class="admin" style="display: none"><a href="{% url 'user:new_user_view' %}">新增管理员</a></li>
                <li class="serect" style="display: none"><a href="{% url 'user:change_password_view' %}">修改密码</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main clearfix">
            <div id="div1">

                <h1 class="page-header">配置查看</h1><br><br>

                <div class="form-group row">


                    <div class="col-sm-4 ">
                        <label for="ip" class="col-sm-2 control-label" style="text-align: center">IP</label>&nbsp;&nbsp;&nbsp;
                        <input type="text" class="col-sm-6 col-sm-offset-1" id="ip" placeholder="请输入IP"
                               style="width: 200px"
                               name="inputPassword3">
                    </div>

                    <div class="col-sm-5 ">
                        <label for="filetype" class="col-sm-4 control-label " style="text-align: center">节点类别</label>
                        <select type="text" id="filetype" class=" col-sm-6" style="height: 30px">
                                    
                            <option value=""></option>
                                    
                            <option value="prometheus_file">prometheus配置文件</option>
                                    
                            <option value="alert_rules">告警规则文件</option>
                                    
                            <option value="alert_file">alert manager配置文件</option>
                                    
                                 </select>
                    </div>
                    <div class="col-sm-1 ">
                        <button class="btn btn-primary btn-lg" id="updatebutton1"
                                type="submit" onclick="" style="width: 120px;height: 35px ">提交
                        </button>
                    </div>

                </div>

                <div class="form-horizontal row">

                    <div class="form-group col-sm-3 col-sm-offset-2">
                        <textarea rows="10" cols="120" readonly style="text-align: left" id="textarea1"></textarea>
                    </div>
                </div>

                <div class="form-horizontal row">
                    <h1 class="page-header">配置更新</h1>

                    <br>

                    <div class="form-group col-sm-3 col-sm-offset-2">
                        <textarea rows="5" cols="120" style="text-align: left" id="textarea2"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-9  col-sm-1">
                        <button class="btn btn-primary btn-lg" id="updatebutton"
                                type="submit" onclick="update()" style="width: 120px;height: 35px">提交配置
                        </button>

                    </div>
                </div>
            </div>

        </div>


    </div>


</div>
</div>


</body>
</html>
