<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
   <link rel="stylesheet" href="{% static 'user/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"/>
     <link rel="stylesheet" href="{% static 'user/CSS/dashboard.css' %}"/>

    <script type="text/javascript" src="{% static 'user/Jquery/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'user/JavaScript/login.js' %}"></script>
   <script src="{% static "user/JavaScript/model.js" %}"></script>
     <!--<link rel="stylesheet" href="../../static/user/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/user/CSS/dashboard.css"/>

    <script type="text/javascript" src="../../static/user/Jquery/jquery-3.2.1.js "></script>
    <script type="text/javascript" src="../../static/user/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/user/JavaScript/model.js "></script>-->

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">云监控配置管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

            </ul>
            <!-- <form class="navbar-form navbar-right">
             <input type="text" class="form-control" placeholder="请搜索">
            </form>-->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class=" node"><a href="#">节点管理 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">集群配置</a></li>
                <li><a href="#">全局配置</a></li>
                <li class="selfcenter"><a>个人中心</a></li>
                <li class="admin" style="display: none"><a>新增管理员</a></li>
                <li class="serect" style="display: none"><a href="#">修改密码</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main clearfix">
            <div id="div1">

                <h1 class="page-header">登入</h1>
                <br> <br> <br> <br>

                <div class="form-horizontal submitform">
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label"><h3>用户名</h3></label>

                        <div class="col-sm-6 col-sm-offset-1">
                            <h3><input type="text" class="form-control" placeholder="用户名" id="username"
                                       style="height:50px;" name="username" required></h3>
                        </div>
                    </div>

                    <br> <br>

                    <div class="form-group">
                        <label for="Password" class="col-sm-2 control-label"><h3>密码</h3></label>

                        <div class="col-sm-6 col-sm-offset-1">
                            <h3><input type="password" class="form-control" id="password" name="password"
                                       placeholder="密码"
                                       style="height:50px;"></h3>
                        </div>
                    </div>
                    <br><br>

                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-lg button1"
                                    style="width:160px;height:50px;" onclick="goto()">登入
                                <!--从获取后台验证是否正确，正确则跳转至Node.html-->
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>


</div>
</div>
</body>
</html>